---
import Form from "../../components/ui/Form.astro";
import Logo from "../../components/ui/Logo.astro";
import Input from "../../components/ui/Input.astro";
import Button from "../../components/ui/Button.astro";
import Layout from "../../layouts/GuestLayout.astro";
import { actions, isInputError } from "astro:actions";

// Ambil email dari form data jika POST
const isPost = Astro.request.method === "POST";
let previousEmail = "";

if (isPost) {
    const formData = await Astro.request.clone().formData();
    previousEmail = formData.get("email")?.toString() ?? "";
}
const result = isPost ? Astro.getActionResult(actions.auths.login) : null;

if (result?.data && isPost) {
    await Astro.session?.set("alert", {
        variant: result?.data?.success ? "success" : "error",
        title: "Informasi",
        message: result?.data?.message,
    });
}

if (result?.data?.success) {
    return Astro.redirect("/dashboard");
}

// Error format dari Zod
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

<Layout title="Login">
    <div class="flex items-center justify-center h-screen">
        <div
            class="w-full max-w-md p-4 space-y-6 bg-white rounded-4xl lg:shadow-2xl m-2 lg:m-0 transition-all duration-300"
        >
            <div class="flex justify-center">
                <Logo size="xl" />
            </div>

            <span class="block text-xl font-bold text-center">Welcome Back</span
            >
            <Form action={actions.auths.login} method="POST">
                <div class="gap-2">
                    <Input
                        id="email"
                        name="email"
                        label="Email"
                        type="email"
                        autocomplete="email"
                        variant="filled"
                        value={previousEmail}
                        required
                        error={inputErrors.email?.join(", ")}
                    />
                </div>

                <div class="gap-2">
                    <Input
                        id="password"
                        name="password"
                        label="Password"
                        type="password"
                        autocomplete="off"
                        variant="filled"
                        required
                        error={inputErrors.password?.join(", ")}
                    />
                </div>

                <div>
                    <Button
                        type="submit"
                        variant="primary"
                        size="lg"
                        isFullWidth
                    >
                        Login
                    </Button>
                </div>
            </Form>
        </div>
    </div>
</Layout>
<script>
    import { openModal } from "../../components/ui/dialog/dialog";

    openModal("Halo!", "Ini dipanggil dari client-side.");
</script>
