---
import Form from "../../components/ui/Form.astro";
import Logo from "../../components/ui/Logo.astro";
import Input from "../../components/ui/Input.astro";
import Button from "../../components/ui/Button.astro";
import Layout from "../../layouts/GuestLayout.astro";
import Alert from "../../components/ui/Alert.astro";
import { actions, isInputError } from "astro:actions";

const result = Astro.getActionResult(actions.auths.login);
console.log("result:", JSON.stringify(result, null, 2));
console.log("result.data:", result?.data);
console.log("result.error:", result?.error);
console.log("isInputError:", isInputError(result?.error));

if (result?.data?.success) {
    return Astro.redirect("/dashboard");
}

// Error format dari Zod
const inputErrors = isInputError(result?.error) ? result.error.fields : {};

// Error logic bisnis dari service
const serviceErrors = result?.data?.errors ?? {};
const serviceMessage = result?.data?.message;

const hasError = !!result && !result.data?.success;
---

{
    hasError && (
        <Alert
            variant="error"
            title="Login Gagal"
            message={serviceMessage ?? "Terjadi kesalahan."}
            position="top-right"
        />
    )
}
<Layout title="Login">
    <div class="flex items-center justify-center h-screen">
        <div
            class="w-full max-w-md p-4 space-y-6 bg-white rounded-4xl lg:shadow-2xl m-2 lg:m-0 transition-all duration-300"
        >
            <div class="flex justify-center">
                <Logo size="xl" />
            </div>

            <span class="block text-xl font-bold text-center">Welcome Back</span
            >

            <Form action={actions.auths.login} method="POST">
                <div class="gap-2">
                    <Input
                        id="email"
                        name="email"
                        label="Email"
                        type="email"
                        autocomplete="email"
                        variant="filled"
                        required
                        error={inputErrors.email?.[0] ?? serviceErrors.email}
                    />
                </div>

                <div class="gap-2">
                    <Input
                        id="password"
                        name="password"
                        label="Password"
                        type="password"
                        autocomplete="off"
                        variant="filled"
                        required
                        error={inputErrors.password?.[0] ??
                            serviceErrors.password}
                    />
                </div>

                <div>
                    <Button
                        type="submit"
                        variant="primary"
                        size="lg"
                        isFullWidth
                    >
                        Login
                    </Button>
                </div>
            </Form>
        </div>
    </div>
</Layout>
