---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"form"> {
    title?: string;
    description?: string;
    grid?: boolean;
}

const { title, description, grid = false, ...attrs } = Astro.props;
---

<form
    {...attrs}
    class:list={["space-y-6 bg-white p-6", attrs.class]}
    data-astro-form
>
    {
        (title || description) && (
            <div class="mb-8">
                {title && (
                    <h2 class="text-2xl text-gray-800 font-semibold">
                        {title}
                    </h2>
                )}
                {description && (
                    <p class="text-gray-500 text-sm mt-1">{description}</p>
                )}
            </div>
        )
    }

    <div
        class:list={[
            grid ? "grid grid-cols-1 md:grid-cols-2 gap-4" : "space-y-4",
        ]}
    >
        <slot />
    </div>
</form>
